 .u-section-1 {
  --color-var: #0a1729;
}

.u-section-1 .u-sheet-1 {
  min-height: 3309px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 15px;
  height: auto;
  min-height: 3249px;
  margin-top: 45px;
}