 .u-section-1 {
  --color-var: #081a32;
}

.u-section-1 .u-sheet-1 {
  min-height: 414px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 764px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-2 {
  width: 894px;
  font-weight: 700;
  margin: 96px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  width: 894px;
  font-style: normal;
  font-weight: 400;
  margin: 39px auto 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 278px;
    margin-right: 142px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 12px;
    margin-left: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.375rem;
    width: 540px;
    margin-top: 273px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.3333333333333333rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
    width: 340px;
    margin-top: 40px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
} .u-section-2 {
  filter: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1087px;
}

.u-section-2 .u-image-1 {
  filter: none;
  margin-top: 0;
  margin-bottom: 45px;
  height: 1042px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 352px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-2 .u-image-1 {
    height: 342px;
    margin-bottom: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 739px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 31px;
}

.u-section-3 .u-group-1 {
  width: 1120px;
  min-height: 490px;
  height: auto;
  margin: 32px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 114px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 376px;
  width: 1120px;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 10px auto 58px;
  padding: 7px 13px 8px 12px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    width: 940px;
    margin-top: 754px;
    height: auto;
  }

  .u-section-3 .u-custom-html-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0 0 30px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-top: 761px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 0.875rem;
  }

  .u-section-3 .u-group-1 {
    margin-top: 20px;
    min-height: 703px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 102px;
    margin-top: 32px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 57px;
  }
}